---

import Container from '@/components/Container.astro'
import Link from '@/components/Link.astro'
import { buttonVariants } from '@/components/ui/button'
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from '@/components/ui/card'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'

const blog = (await getCollection('blog'))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE)
---



<div class="grid grid-cols-1 grid-rows-4 md:grid-cols-3 md:grid-rows-6 gap-3 max-w-[130rem] mx-auto">
    <div class="col-span-full md:col-span-2 md:row-span-2 md:col-start-1 md:row-start-1 border-[#E49245]/20 border-2 rounded-lg relative overflow-hidden">
      <div class="absolute inset-0 bg-cover bg-center filter blur-sm opacity-20" style="background-image: url('/static/image-2.png');"></div>
      <div class="relative z-10 font-[jetbrains] text-white p-6">
        <p class="text-sm opacity-75 mb-4 bg-[#1A1A1A] p-3 rounded-md border border-[#E49245]/10">
          Hey, I’m Rohan! I’m a computing enthusiast and simulation nerd with a focus on high-performance and quantum systems.
        <p class="text-sm opacity-75 bg-[#1A1A1A] p-3 rounded-md border border-[#E49245]/10">
Beyond my academic work, I spend time building game tools, designing experiments, and exploring the overlap between science fiction, storytelling, and real-world tech.      </div>
    </div>

  <div class="col-span-full md:col-span-1 md:row-span-6 md:col-start-3 md:row-start-1 bg-[#131313] border-[#E49245]/20 border-2 rounded-lg overflow-hidden relative group">
      <img src="/static/biome.jpg" alt="Japanese castle" class="absolute inset-0 w-full h-full object-cover group-hover:scale-105 transition-transform duration-300 ease-in-out">
      <a href="#" class="absolute inset-0 flex items-end p-4 text-white bg-black bg-opacity-25 group-hover:bg-opacity-50 transition-colors duration-300 ease-in-out">
        <div>
          <p class="font-bold text-lg">Ultrafast Terrain Generation</p>
          <p class="text-sm">Powered by CUDA</p>
          <p class="text-xs opacity-40">Ultraschnelle Geländegenerierung</p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6 ml-auto opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out">
          <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
        </svg>
      </a>
  </div>

  <div class="col-span-full md:col-span-1 md:row-span-2 md:col-start-1 md:row-start-3 bg-[#131313] border-[#E49245]/20 border-2 rounded-lg p-5">
  </div>

  <div class="col-span-full md:col-span-1 md:row-span-2 md:col-start-2 md:row-start-3 bg-[#131313] border-[#E49245]/20 border-2 rounded-lg p-5">
  </div>

  <div class="col-span-full md:col-span-2 md:row-span-2 md:col-start-1 md:row-start-5 bg-[#131313] border-[#E49245]/20 border-2 rounded-lg overflow-hidden relative group">
      <img src="/static/fft.jpg" alt="Japanese castle" class="absolute inset-0 w-full h-full object-cover group-hover:scale-105 transition-transform duration-300 ease-in-out">
      <a href="#" class="absolute inset-0 flex items-end p-4 text-white bg-black bg-opacity-25 group-hover:bg-opacity-50 transition-colors duration-300 ease-in-out">
        <div>
          <p class="font-bold text-lg">Accelerated FFT via SYCL</p>
          <p class="text-sm">SYCL + CUDA</p>
          <p class="text-xs opacity-40">Beschleunigte FFT über SYCL</p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6 ml-auto opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out">
          <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
        </svg>
      </a>
  </div>
</div>