---
import Marquee from "./Marquee.astro"
import Github from './Github.astro'
import Carousel from './Carousel.astro'
import Music from "./Music.astro"

import BlogCard from '@/components/BlogCard.astro'
import Container from '@/components/Container.astro'
import Link from '@/components/Link.astro'
import { buttonVariants } from '@/components/ui/button'
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from '@/components/ui/card'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'

const blog = (await getCollection('blog'))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE)
---



<div class="grid grid-cols-7 grid-rows-4 md:grid-rows-10 gap-3 max-w-[65rem] mx-auto">
    <div class="col-span-7 row-auto md:col-span-4 md:row-span-3 bg-[#131313] border-[#E49245]/20 border-2 rounded-lg">
      <div class="font-[offbit] text-white p-5">
        <p class="font-bold text-2xl">Hey there,</p>
        <p class="text-xl opacity-65">
          I am Arhant. I am currently an undergrad at Amrita Vishwa Vidyapeetham . Developing has been my forte since a long time now and I have developed a keen interest in web and mobile application development. Apart from developing, you can find me making <span><a href="https://www.youtube.com/@arhant_19">films</a></span> , discovering new books and sometimes designing random 3D art and cool graphic designs.
        </p>
      </div>
    </div>

    <div class="col-start-1 col-span-7 md:col-span-3 md:row-span-3 md:col-start-5 
    bg-[#131313] border-[#E49245]/20 border-2 rounded-lg overflow-hidden relative">

      <Carousel />

    </div>



  <div class="col-start-1 col-span-7 md:col-span-2 md:row-span-4 md:row-start-4 bg-[#131313] border-[#E49245]/20 border-2 rounded-lg p-5">
 

    <section class="flex flex-col gap-y-4">
      <h2 class="text-xl font-bold font-[offbit]">Latest posts</h2>
      <ul class="not-prose flex flex-col gap-y-4">
        {
          blog.map((post) => (
            <li>
              <BlogCard entry={post} />
            </li>
          ))
        }
      </ul>
      <div class="flex justify-center">
        <Link
          href="/blog"
          class={buttonVariants({ variant: 'ghost' }) + ' group'}
        >
          See all posts <span
            class="ml-1.5 transition-transform group-hover:translate-x-1"
            >&rarr;</span
          >
        </Link>
      </div>
    </section> 
  </div>

  <!-- github contributions -->
  <div class=" col-span-7 col-start-1 md:col-span-3 md:row-span-4 md:col-start-3 md:row-start-4 bg-[#131313] border-[#E49245]/20 border-2 rounded-lg">
    <Github />
  </div>

  <div class="col-start-1 col-span-7 md:col-span-2 md:row-span-4 md:col-start-6 md:row-start-4 bg-[#131313] border-[#E49245]/20 border-2 rounded-lg font-[stopwatch] text-8xl p-[50px] text-[#E49245]">
    <p class = "text-center my-[10rem]">
    FOR HIRE
  </p>
  </div>

  <!-- music componeny -->

  <div class="col-start-1 col-span-7 md:col-span-2 md:row-span-2 md:row-start-8 bg-[#131313] border-[#E49245]/20 border-2 rounded-lg p-4 flex items-center space-x-4">
    <Music />
</div>

  <div class="col-span-7 col-start-1 md:col-span-2 md:row-span-2 md:col-start-3 md:row-start-8 bg-[#131313] border-[#E49245]/20 border-2 rounded-lg">
    
    <a href="https://github.com/dumbprism">
      <img src="/icons/Github.svg" alt="github-logo" class="w-40 h-40 md:w-20 md:h-20 mx-auto my-20">
    </a>

  </div>
  <!-- tech-stack -->
  <div class=" col-span-7 col-start-1 md:col-span-3 md:row-span-2 md:col-start-5 md:row-start-8 bg-[#131313] border-[#E49245]/20 border-2 rounded-lg overflow-hidden">
    <div id="tech-stack" class="mb-4">
          <p class="font-[offbit] text-white p-5 text-2xl">Tool Stack</p>
          <Marquee />
        
    </div>
  </div>

</div>

<script type="module" src="/src/scripts/carousel.ts"></script>
<script type="module" src="/src/scripts/music.ts"></script>
