---
import Container from '@/components/Container.astro'
import { Separator } from '@/components/ui/separator'
import { SOCIAL_LINKS } from '@/consts'
import Link from './Link.astro'
import SocialIcons from './SocialIcons.astro'
---

<footer class="py-4">
  <Container>
    <div
      class="flex flex-col items-center justify-center gap-y-2 sm:flex-row sm:justify-between bg-[#0A0A0A] rounded-xl p-2 border border-1 border-[#E49245]/30 font-[offbit]"
    >

      <div class="flex items-center gap-x-2 ">
        <span class="text-center text-sm   lowercase">
          &copy; {new Date().getFullYear()} All rights reserved
        </span>
       </div>
        <div>
          <a href="https://amrita.town">amrita.town</a>
          <a href="https://amrita.town/prev">← prev</a>
          <a href="https://amrita.town/random">⚄ random</a>
          <a href="https://amrita.town/next">next →</a>
    </div>
      <SocialIcons links={SOCIAL_LINKS} />
    </div>
   
  </Container>
</footer>
