---
import { fetchLatestSong, type Track } from '../scripts/music.ts'

const track: Track | null = await fetchLatestSong()
---

<div class="relative font-[offbit] flex h-full w-full flex-col items-start justify-between gap-4 p-5 md:flex-row md:items-center">
  {track ? (
    <>
      <div class="relative flex h-full w-full flex-row items-start justify-between gap-4">
        <img
          src={track.image[3]['#text']}
          alt="Album art"
          width={64}
          height={64}
          class="mb-2 w-20 max-w-20 rounded-xl border border-border grayscale md:w-full"
        />
        <div class="flex min-w-0 flex-1 flex-col justify-end overflow-hidden">
          <div class="flex flex-col">
            <span class="mb-2 flex gap-2">
              <span class="text-sm text-primary">
                {track['@attr']?.nowplaying === 'true'
                  ? 'Now playing...'
                  : 'Last played...'}
              </span>
            </span>
            <span class="mb-2 truncate text-lg font-bold leading-none">
              {track.name}
            </span>
            <span class="w-[85%] truncate text-sm text-muted-foreground">
              <span class="font-semibold text-secondary-foreground">by</span> {track.artist['#text']}
            </span>
            <span class="w-[85%] truncate text-sm text-muted-foreground">
              <span class="font-semibold text-secondary-foreground">on</span> {track.album['#text']}
            </span>
          </div>
        </div>
      </div>
      <a
        href={track.url}
        aria-label="View on last.fm"
        title="View on last.fm"
        target="_blank"
        rel="noopener noreferrer"
        class="absolute bottom-0 right-0 m-0 flex w-fit items-end rounded-full border bg-secondary/50 p-3 text-primary transition-all duration-300 hover:rotate-12 hover:ring-1 hover:ring-primary"
      >
       
        <svg width="10" height="10" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18.9995 2.03029C19.0163 1.47826 18.5823 1.01719 18.0303 1.00046L9.03442 0.727856C8.48239 0.711128 8.02132 1.14508 8.00459 1.69711C7.98786 2.24914 8.42181 2.71021 8.97384 2.72694L16.9702 2.96925L16.7279 10.9656C16.7111 11.5176 17.1451 11.9787 17.6971 11.9954C18.2491 12.0121 18.7102 11.5782 18.7269 11.0262L18.9995 2.03029ZM1.68536 18.7282L18.6854 2.7282L17.3146 1.2718L0.314635 17.2718L1.68536 18.7282Z" fill="white"/>
        </svg>

      </a>
    </>
  ) : (
    <p>Something absolutely horrible has gone wrong</p>
  )}
</div>
